<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senstore.alice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <supports-screens android:smallScreens="false" android:anyDensity="true" android:resizeable="true" android:largeScreens="false" android:normalScreens="true"/>

    <application
        android:icon="@drawable/ic_alicepic"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.Alice"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.APITester"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".test.DiagnosisAPITester"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".test.LoggingAPITester"
            android:label="@string/app_name" >
        </activity>

        <receiver android:name=".activities.ResponseReceiver" />

        <service android:name=".services.BackgroundLogger" />

        <receiver android:name=".LocationReceiver" />
        <receiver android:name="com.commonsware.cwac.locpoll.LocationPoller" />

        <service android:name="com.commonsware.cwac.locpoll.LocationPollerService" />

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>